<main class="container" *ngIf="request">
  <div class="header">
    <div class="title-section">
      <h2 class="heading_3">Orçamento #{{request.id}}</h2>
      <button
        *ngIf="request.status.nome === 'REJEITADA'"
        mat-flat-button
        color="primary"
        type="button"
        class="label_large"
        (click)="openRescueConfirmDialog()"
      >
        Resgatar Serviço
      </button>
    </div>
  </div>
  @if (request.budgets.length === 0) {
    <div class="empty-state">
      <h6 class="heading_6">Nenhum Orçamento Efetuado</h6>
      <small>Aguarde a análise do técnico.</small>
    </div>
  } @else {

  <section *ngFor="let budget of request.budgets" class="budget-details">
    <div class="price-highlight">
      <h3>Valor do Serviço</h3>
      <p class="heading_3 price"> {{ budget.total | currency:'BRL' }}</p>
    </div>

    <div class="info-row">
      <div class="info-block">
        <h3>Gerado em </h3>
        <span class="date">{{ budget.createdAt | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>

    <div class="services-section" *ngIf="budget?.services">
      <h3>Serviços Inclusos</h3>
      <p>{{budget.services}}</p>
    </div>

    <div class="action-buttons" *ngIf="request.status.nome === 'ORÇADA'">
      <button mat-stroked-button color="warn" type="button" class="label_large" (click)="openRejectDialog()">Recusar</button>
      <button mat-flat-button color="primary" type="button" class="label_large" (click)="openApproveConfirmDialog()">Aprovar Orçamento</button>
    </div>
  </section>
}
</main>