<div class="header-category">
  <h1 class="heading_1">Categorias de Equipamento</h1>
  <button mat-flat-button color="primary" type="button" class="btn-new-category" (click)="openNewCategoryModal()">
    <mat-icon>add</mat-icon>
    Nova categoria
  </button>
</div>

<div class="categories-container">
  <div class="category-card" *ngFor="let category of categories">
    <div class="category-card-icon">
      <mat-icon>{{ getCategoryIcon(category.icon) }}</mat-icon>
    </div>
    <h3 class="heading_3">{{ category.name }}</h3>
    <div class="card-actions">
      <button mat-stroked-button type="button" (click)="editCategory(category)">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      <button mat-flat-button color="warn" type="button" (click)="deleteCategory(category.id!)">
        <mat-icon>delete</mat-icon>
        Excluir
      </button>
    </div>
  </div>
</div>
<p *ngIf="categories.length === 0" class="no-categories">
  Nenhuma categoria cadastrada.
</p>
