<app-dialog-shell [title]="editingCategory ? 'Editar categoria de equipamento' : 'Nova categoria de equipamento'">

    <form id="category-form" #formCategory="ngForm" (ngSubmit)="onSubmit(formCategory)" class="category-form-body">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome da categoria</mat-label>
            <input matInput id="categoryName" type="text" name="name" placeholder="Digite o nome da categoria"
                [(ngModel)]="category.name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Ícone</mat-label>
            <mat-select id="categoryIcon" name="icon" [(ngModel)]="category.icon" required>
                <mat-option value="" disabled>Selecione o ícone</mat-option>
                <mat-option value="notebook">Ícone de Notebook</mat-option>
                <mat-option value="desktop">Ícone de Desktop</mat-option>
                <mat-option value="impressora">Ícone de Impressora</mat-option>
                <mat-option value="mouse">Ícone de Mouse</mat-option>
                <mat-option value="teclado">Ícone de Teclado</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <ng-container dialog-action>
        <button mat-button type="button" (click)="confirmClose()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit" form="category-form">
            {{ editingCategory ? 'Salvar categoria' : 'Adicionar categoria' }}
        </button>
    </ng-container>
</app-dialog-shell>
